<div class="content" role="main">
  <div class="formsHolder">
    <div class="form1">
      <h4>By Flight</h4>
      <fieldset>
        <legend>Flight Number</legend>
        <input type="text" value="1022">
      </fieldset>
      <fieldset>
        <legend>Airport</legend>
        <select>
          <option>JED - Jeddah [King Abdul Aziz Airport]</option>
          <option>RUH - Riyadh [King Khalid Airport]</option>
        </select>
      </fieldset>
      <fieldset>
        <legend>Flight date</legend>
        <input type="date" value="2019-04-15">
      </fieldset>
      <div class="flex">
        <button type="button" class="half buttonL">Add</button>
        <button type="button" class="half buttonR">Find</button>
      </div>
    </div>
    <div class="form2">
      <h4>By Station</h4>
      <fieldset>
        <legend>Airport</legend>
        <select>
          <option>JED - Jeddah [King Abdul Aziz Airport]</option>
          <option>RUH - Riyadh [King Khalid Airport]</option>
        </select>
      </fieldset>
      <div class="flex">
        <button type="button" class="full">Find</button>
      </div>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <th>Passenger Name</th>
        <th>Booking Reference</th>
        <th>E-Ticket Number</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Updated on</th>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
    </table>
    <p>Total</p>
  </div>
</div>

<router-outlet></router-outlet>