<style>
  @font-face {
    font-family: "SaudiaRegular";
    src: url("/assets/fonts/SaudiaTextWeb-Regular.ttf");
  }

  @font-face {
    font-family: "SaudiaArabicLight";
    src: url("/assets/fonts/SaudiaTextArabic-Light.ttf");
  }

  :host {
    font-family: "SaudiaRegular", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
  }

  /* MealPOC Style starts*/
  .content {
    align-items: center;
    font-size: 62.5%;
    font-family: "Helvetica" !important;
    padding: 0;
    margin: 0;
  }

  .formsHolder {
    display: flex;
  }

  .form1,
  .form2 {
    padding: 03%;
    width: 44%
  }

  h4 {
    font-family: "SaudiaRegular", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #171847;
    margin-bottom: 16px;
  }

  fieldset {
    border: solid1px#919191;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  legend {
    font-size: 1.4em;
    color: #171847;
  }

  input,
  select {
    font-size: 1.4em;
    color: #171847;
    border: none !important;
    width: 100%;
  }

  input:focus,
  select:focus,
  select:active,
  select:hover,
  option,
  option:focus {
    border: none !important;
    outline: none !important;
    background: #fff;
    color: #171847;
    width: 100%;
  }

  input[type="text"] {
    padding: 4px0;
  }

  button {
    color: #fff;
    background: #A39161;
    font-size: 1.4em;
    font-weight: bold;
    min-height: 45px;
    border: none !important;
    margin-top: 8px;
    border-radius: 5px;
  }

  button:focus {
    border: none !important;
    outline: none !important
  }

  .buttonL {
    margin-right: 4px;
  }

  .buttonR {
    margin-left: 4px;
  }

  .flex {
    display: flex;
  }

  .full {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  table {
    border: 0;
    width: 100%;
    padding: 3%3%03%;
  }

  th {
    font-size: 1.6em;
    font-weight: bold;
    padding: 8px0;
    text-align: left;
  }

  tr:nth-child(even) {
    background: #f2f3f4;
    padding: 5px0;
  }

  td {
    padding: 8px0;
    font-size: 1.4em;
  }

  p {
    width: 94%;
    padding: 3%;
    font-size: 1.6em;
    font-weight: bold;
  }

  .loading-wrapper{
    width: 100%;
    height: 100vh;
    background: #0000008a;
    position: fixed;
    z-index: 999999;
  }

  .loading-wrapper div{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  /* Responsive Styles */
  @mediascreen and (max-width: 767px) {}

  @mediascreen and (max-width: 575px) {
    .formsHolder {
      display: bolck;
      width: 100%;
    }
  }

  /* MealPOC Style ends*/
</style>

<div class="loading-wrapper" *ngIf="showLoader">
  <div>Please wait...</div>
</div>

<div class="content" role="main">
  <div class="formsHolder">
    <div class="form1">
      <h4>By Flight</h4>
      <fieldset>
        <legend>Flight Number</legend>
        <input type="text" minLength='4' maxLength='4' placeholder='Enter the flight number' (input)='restrictSpecialChars($event)' #flightNum>
      </fieldset>
      <fieldset>
        <legend>Airport</legend>
        <select #airportName>
          <option *ngFor='let airport of airportList' [selected]="airport.AirportCode == 'JED'">
            {{airport.AirportCode}} - {{airport.AirportName}}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <legend>Flight date</legend>
        <input type="date" [min]='minDate' [value]="currentDate | date: 'yyyy-MM-dd'" #departDate>
      </fieldset>
      <div class="flex">
        <button type="button" class="half buttonL" (click)="addFlight()">Add</button>
        <button type="button" class="half buttonR" (click)="findPassengerByFlight()">Find</button>
      </div>
    </div>
    <div class="form2">
      <h4>By Station</h4>
      <fieldset>
        <legend>Airport</legend>
        <select #stationName>
          <option *ngFor='let airport of airportList' [selected]="airport.AirportCode == 'JED'">
            {{airport.AirportCode}} - {{airport.AirportName}}
          </option>
        </select>
      </fieldset>
      <div class="flex">
        <button type="button" class="full" (click)="findPassengerByStation()">Find</button>
      </div>
    </div>
  </div>
  <div>
    <table *ngIf='passengerInfo.length > 0'>
      <tr>
        <th>Passenger Name</th>
        <th>Booking Reference</th>
        <th>E-Ticket Number</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Updated on</th>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>KDL009484</td>
        <td>SV009484</td>
        <td>Jeddah</td>
        <td>Riyah</td>
        <td>2020-06-09</td>
      </tr>
    </table>
    <p *ngIf='passengerInfo.length > 0'>Total</p>
  </div>
</div>

<router-outlet></router-outlet>