/* You can add global styles to this file, and also import other style files */

  html {
    font-size: 62.5%;
    font-family: "SaudiaRegular", "Helvetica" !important;
  }

  body {
    margin: 0;
  }